/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color-css: #2196f3;
  --main-color-css-alt: #1787e0;
  --main-color-html: rgb(255, 128, 0);
  --main-transition: 0.3s;
  --main-padding-top: 30px;
  --main-padding-bottom: 30px;
  --section-background: #ececec;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  text-transform: uppercase;
  margin: 30px auto 30px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  max-width: 75%;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  color: black;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color-css);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.code-toolbar {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
  --main-color-css: #0075ff;
  --half-white: #f8f6f6;
  --second-color: #009688;
  --primary-color: #0075ff;
  --primary-color-alt: #0366da;
  --danger-color: darkred;
  --border-color: #ebebeb;
  color: #333;
  font-family: "Cairo", sans-serif;
  font-size: 17px;
  line-height: 2;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

pre.language-css {
  box-sizing: border-box;
  display: block;
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  overflow: auto;
  background: #313131;
  position: relative;
  padding: 40px 20px 25px 20px;
  margin: 15px auto;
  direction: ltr;
  border-radius: 0;
  border: none;
  width: 100%;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

pre.language-css:before {
  background-color: #00bcd4;
  content: "CSS";
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  font-weight: bold;
  text-shadow: none;
  font-size: 13px;
  padding: 1px 10px;
  right: auto;
}

code.language-css {
  box-sizing: border-box;
  padding: 0;
  border-radius: 0;
  color: #f8f8f2;
  background: 0 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  font-size: 20px;
  direction: ltr;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

code.language-css .selector {
  color: hsl(41deg 53% 67%);
}

code.language-css .punctuation {
  color: #f8f8f2;
}

code.language-css .property {
  color: hsl(201deg 98% 80%);
}

code.language-css .value {
  color: hsl(17deg 47% 64%);
}

code .green {
  color: rgb(57, 219, 28);
}

pre.language-html {
  box-sizing: border-box;
  display: block;
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  overflow: auto;
  background: #313131;
  position: relative;
  padding: 40px 20px 25px 20px;
  margin: 15px auto;
  direction: ltr;
  border-radius: 0;
  border: none;
  border-left-color: #16a085;
  width: 100%;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

pre.language-html:before {
  background-color: #16a085;
  content: "HTML";
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  font-weight: bold;
  text-shadow: none;
  font-size: 13px;
  padding: 1px 10px;
  border-radius: 0;
  right: auto;
}
code.language-html {
  box-sizing: border-box;
  padding: 0;
  border-radius: 0;
  color: #f8f8f2;
  background: 0 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  line-height: 1.5;
  font-size: 20px;
}
code.language-html .tag {
  color: #569cd6;
}

code.language-html .punctuation {
  color: #f8f8f2;
}
code.language-html .attr-name {
  color: hsl(201deg 98% 80%);
}
code.language-html .attr-value {
  color: hsl(17deg 47% 64%);
}

.container .desc {
  padding: 20px;
  font-size: 25px;
  width: 100%;
  margin: auto;
  text-align: center;
}

a.links {
  color: var(--main-color-css-alt);
}

/* End Global Rules */
/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo a {
  color: var(--main-color-css);
}
.header .logo a.logo-html {
  color: var(--main-color-html);
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color-css);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color-css);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color-css);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
  -webkit-transition: top var(--main-transition), opacity var(--main-transition);
  -moz-transition: top var(--main-transition), opacity var(--main-transition);
  -ms-transition: top var(--main-transition), opacity var(--main-transition);
  -o-transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color-css);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .text p span.start {
  color: var(--main-color-css);
  font-weight: bold;
}
.landing .image img {
  position: relative;
  width: 300px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color-css);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-css-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Pourquoi */
.pourquoi {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
/* End Pourquoi */
/* Start Comment */
.comment {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
/* End Comment */
/* Start Syntaxe */
.syntaxe {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
/* End Syntaxe */
/* Start Selecteur */
.selecteur {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.selecteur .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}
.selecteur .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.selecteur .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.selecteur .info .box h3 {
  margin: 0;
  font-size: 25px;
  color: var(--main-color-css);
}
.selecteur .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 20px;
}
.selecteur table.pseudo {
  width: 100%;
  border: 2px solid var(--main-color-css);
  border-collapse: collapse;
  font-family: "Cairo", sans-serif;
}
.selecteur table.pseudo td,
.selecteur table.pseudo th {
  border: 2px solid var(--main-color-css);
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
.selecteur table.pseudo th {
  color: var(--main-color-css);
}
.selecteur table.pseudo td.desc-el {
  color: #777;
}
/* End Selecteur */
/* Start Select-Pseu */
.selec-pseu {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.selec-pseu .info .box {
  background-color: #f8f8f8;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  align-items: center;
  border: 2px solid var(--section-background);
  position: relative;
  z-index: 1;
}
.selec-pseu .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: -1;
  transition: var(--main-transition);
}
.selec-pseu .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.selec-pseu .info .box h3 {
  margin: 0;
  font-size: 25px;
  color: var(--main-color-css);
}
.selec-pseu .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 20px;
}
.selec-pseu table.pseudo {
  width: 100%;
  border: 2px solid var(--main-color-css);
  border-collapse: collapse;
  font-family: "Cairo", sans-serif;
}
.selec-pseu table.pseudo td,
.selec-pseu table.pseudo th {
  border: 2px solid var(--main-color-css);
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
.selec-pseu table.pseudo th {
  color: var(--main-color-css);
}
.selec-pseu table.pseudo td.desc-el {
  color: #777;
}
input#fcs:focus {
  outline-color: var(--main-color-css);
  background-color: #e9e6e6;
}
a.link-link:link {
  color: gray !important;
}
a.visited-link:visited {
  color: rgb(0, 203, 0);
  text-decoration: underline;
}
a.hover-link {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
a.hover-link:hover {
  color: rgb(255, 58, 18);
  text-decoration: underline;
}
a.active-link:active {
  color: rgb(255, 58, 18);
  text-decoration: underline;
}
/* End Select-Pseu */
/* Start Css Box */
.css-box {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.css-box .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}
.css-box .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.css-box .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.css-box .info .box h3 {
  margin: 0;
  font-size: 25px;
  color: var(--main-color-css);
}
.css-box .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 20px;
}
.css-box table.pseudo {
  width: 100%;
  border: 2px solid var(--main-color-css);
  border-collapse: collapse;
  font-family: "Cairo", sans-serif;
}
.css-box table.pseudo td,
.css-box table.pseudo th {
  border: 2px solid var(--main-color-css);
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
.css-box table.pseudo th {
  color: var(--main-color-css);
}
.css-box table.pseudo td.desc-el {
  color: #777;
}
.css-box .info .box .title {
  text-align: center;
  padding: 20px;
  color: #777;
}

.css-box .info .box .box-model {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}

.css-box .info .box div.margin {
  background-color: transparent;
  border: dotted var(--main-color-css);
  height: 475px;
  color: black;
}

.css-box .info .box div.border {
  border: solid var(--main-color-css-alt);
  background-color: rgb(255, 255, 255);
  height: 340px;
}

.css-box .info .box div.padding {
  background-color: var(--section-background);
  height: 225px;
  border: dotted var(--main-color-css);
}

.css-box .info .box div.content {
  background-color: white;
  border: solid var(--main-color-css-alt);
  height: 75px;
}

/* End Css Box */
/* Start Proprietes */
.proprietes {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.proprietes .info .box {
  background-color: #f8f8f8;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  align-items: center;
  border: 2px solid var(--section-background);
  position: relative;
  z-index: 1;
}
.proprietes .info .box .text {
  overflow: auto;
}
.proprietes .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: -1;
  transition: var(--main-transition);
}
.proprietes .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.proprietes .info .box h3 {
  margin: 0;
  font-size: 25px;
  color: var(--main-color-css);
}
.proprietes .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 20px;
}
.proprietes table.pseudo {
  width: 100%;
  border: 2px solid var(--main-color-css);
  border-collapse: collapse;
  font-family: "Cairo", sans-serif;
}
.proprietes table.pseudo td,
.proprietes table.pseudo th {
  border: 2px solid var(--main-color-css);
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
.proprietes table.pseudo th {
  color: var(--main-color-css);
}
.proprietes table.pseudo td.desc-el,
.proprietes table.pseudo td.value {
  color: #777;
}
.proprietes table.pseudo td.element,
.proprietes table.pseudo th.element {
  width: 25%;
}
.proprietes table.pseudo td.value,
.proprietes table.pseudo th.value {
  width: 30%;
}
.proprietes table.pseudo td.desc-el,
.proprietes table.pseudo th.desc-el {
  width: 45%;
}
/* End Proprietes */
/* Start grilles */
.grilles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.grilles .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}
.grilles .info .box .text {
  overflow: visible;
}
.grilles .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.grilles .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.grilles .info .box h3 {
  margin: 0;
  font-size: 25px;
  color: var(--main-color-css);
}
.grilles .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 20px;
}
.one,
.two,
.three,
.four,
.five,
.six {
  border: 2px solid gray;
  background-color: rgba(128, 128, 128, 0.48);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.wrapper {
  padding: 40px 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}
.wrapper .one {
  grid-area: 1/1/1/4;
}
.wrapper .two {
  grid-area: 3/2/4/4;
}
.wrapper .three {
  grid-area: 3/1/5/1;
}
.wrapper .four {
  grid-area: 4/2/4/4;
}
.wrapper .five {
  grid-area: 5/1/5/4;
}
.wrapper .six {
  grid-area: 2/1/3/4;
}
.grilles .info .box ul li {
  color: #777;
  line-height: 1.7;
  font-size: 20px;
  margin: 10px 0 0 50px;
}
.grilles .info .box ul li i {
  padding-right: 10px;
  color: var(--main-color-css);
}
/* End grilles */
/* Start anime */
.anime {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.anime .info .box {
  background-color: #f8f8f8;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  align-items: center;
  border: 2px solid var(--section-background);
  position: relative;
  z-index: 1;
}
.anime .info .box.anima {
  overflow: hidden;
}
.anime .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: -1;
  transition: var(--main-transition);
}
.anime .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.anime .info .box h3 {
  margin: 0;
  font-size: 25px;
  color: var(--main-color-css);
}
.anime .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 20px;
}
.anime table.pseudo {
  width: 100%;
  border: 2px solid var(--main-color-css);
  border-collapse: collapse;
  font-family: "Cairo", sans-serif;
}
.anime table.pseudo td,
.anime table.pseudo th {
  border: 2px solid var(--main-color-css);
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
.anime table.pseudo th {
  color: var(--main-color-css);
}
.anime table.pseudo td.desc-el,
.anime table.pseudo td.value {
  color: #777;
}
.anime table.pseudo td.element,
.anime table.pseudo th.element {
  width: 25%;
}
.anime table.pseudo td.value,
.anime table.pseudo th.value {
  width: 30%;
}
.anime table.pseudo td.desc-el,
.anime table.pseudo th.desc-el {
  width: 45%;
}
/* End anime */
p.copyright {
  line-height: 1.15;
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
  padding: 15px 0;
  text-align: center;
  background-color: white;
  color: var(--main-color-css);
  margin: 50px 0 0;
  border-top: 1px solid rgb(222, 222, 222);
}
p.copyright a {
  color: gray;
}
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 52%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 52%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {
  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }

  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}

/* End Animation */
p.key1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
p.key2 {
  animation-duration: 3s;
  animation-name: slidein2;
}
p.infinite {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
p.infinite-alt {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein2 {
  from {
    margin-left: 100%;
    width: 300%;
  }
  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* First Example */
@import "compass/css3";
.preloader {
  position: relative;
  margin: auto;
  height: 110px;
  width: 110px;
}

svg {
  width: 110px;
  height: 110px;
}

path {
  stroke: #9ea1a4;
  stroke-width: 0.25;
  fill: #241e20;
}

#cloud {
  position: relative;
  z-index: 2;
}

#cloud path {
  fill: #efefef;
}

#sun {
  margin-left: -10px;
  margin-top: 6px;
  opacity: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 45px;
  top: 15px;
  z-index: 1;

  animation-name: rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#sun path {
  stroke-width: 0.18;
  fill: #9ea1a4;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Rain */
.rain {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-top: -32px;
  margin-left: 19px;
}

.drop {
  opacity: 1;
  background: #9ea1a4;
  display: block;
  float: left;
  width: 3px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0px 0px 6px 6px;

  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}

@keyframes drop {
  50% {
    height: 45px;
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  100% {
    height: 1px;
    opacity: 0;
  }
}

#load {
  width: 600px;
  height: 36px;
  margin: 50px auto;
  overflow: visible;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #454545;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
.container-cof {
  width: 300px;
  height: 280px;
  position: relative;
  margin: auto;
}
.coffee-header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddcfcc;
  border-radius: 10px;
}
.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: #282323;
  border-radius: 50%;
}
.coffee-header__buttons::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 4px);
  background-color: #615e5e;
}
.coffee-header__button-one {
  left: 15px;
}
.coffee-header__button-two {
  left: 50px;
}
.coffee-header__display {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  background-color: #9acfc5;
  border: 5px solid #43beae;
  box-sizing: border-box;
}
.coffee-header__details {
  width: 8px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9b9091;
  box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}
.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #bcb0af;
}
.coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #776f6e;
  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #231f20;
}
.coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #231f20;
}
.coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}
.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #231f20;
}
.coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}
.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: #fff;
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #fff;
  border-radius: 50%;
}
@keyframes liquid {
  0% {
    height: 0px;
    opacity: 1;
  }
  5% {
    height: 0px;
    opacity: 1;
  }
  20% {
    height: 62px;
    opacity: 1;
  }
  95% {
    height: 62px;
    opacity: 1;
  }
  100% {
    height: 62px;
    opacity: 0;
  }
}
.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: #74372b;
  animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #b3aeae;
}
@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  40% {
    bottom: 50px;
    opacity: 0.5;
  }
  80% {
    bottom: 80px;
    opacity: 0.3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }
  40% {
    bottom: 70px;
    opacity: 0.5;
  }
  80% {
    bottom: 80px;
    opacity: 0.3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 102px;
  animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 118px;
  animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  right: 118px;
  animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
  opacity: 0;
  bottom: 50px;
  right: 102px;
  animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
  width: 95%;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 47.5%);
  background-color: #41bdad;
  border-radius: 10px;
}
.coffee-footer::after {
  content: "";
  width: 106%;
  height: 26px;
  position: absolute;
  bottom: -25px;
  left: -8px;
  background-color: #000;
}
a {
  color: var(--main-color-css);
}
